<section class="pane-zero">
  <header class="pane-zero--header">
    <div class="pane-zero--wrapper">
      <div class="pane-zero-icon" id="pane-zero-icon">
        <svg xmlns="http://www.w3.org/2000/svg" style="width:24px;height:24px;fill: black;" pointer-events="none" display="block" width="24" height="24" id="back-light" x="558" y="558"><path d="M20 11H7.8l5.6-5.6L12 4l-8 8 8 8 1.4-1.4L7.8 13H20v-2z" fill="#FFF"/></svg>
      </div>
      <div class="pane-zero-title">
        <h1>
          Profile and Status
        </h1>
      </div>
    </div>
  </header>
  <div class="drawer-body">
    <div class="drawer-section">
      <div class="drawer-avatar avatar-background">
        {% if site.data.about.profil_pic %}
          <img src="{{site.baseurl}}/media/profil_pic/{{ site.data.about.profil_pic }}" alt="{{ site.data.about.profil_pic }}">
        {% endif %}
      </div>
    </div>
    <div class="drawer-section drawer-content">
      <div class="drawer-section-title">
        <p>
          About
        </p>
      </div>
      <div class="drawer-section-body">
        <p>
          {{ site.data.about.about | newline_to_br }}
        </p>
      </div>
    </div>
    <div class="drawer-section drawer-content">
      <div class="drawer-section-title">
        <p>Social Media</p>
      </div>
      <div class="drawer-section-body drawer-social">
        {% if site.data.about.facebook %}
        <a href="{{site.data.about.facebook}}"><span class="fa fa-facebook-official"></span></a>
        {% endif %}
        {% if site.data.about.twitter %}
        <a href="{{site.data.about.twitter}}"><span class="fa fa-twitter"></span></a>
        {% endif %}
        {% if site.data.about.instagram %}
        <a href="{{site.data.about.instagram}}"><span class="fa fa-instagram"></span></a>
        {% endif %}
      </div>
    </div>
    <div class="drawer-section drawer-logo">
        <a href="http://www.bastiankroggel.com">
          <div class="logo-made">
            <h1>Made by</h1>
          </div>
          <div style="display: block">
            {% include logo.html %}
          </div>
        </a>
    </div>
  </div>
</section>
