<section class="person">
  <header class="header-chat">
    <div class="header-close">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="x" x="3507" y="3602"><path opacity=".5" d="M19.058 17.236l-5.293-5.293 5.293-5.293-1.764-1.764L12 10.178 6.707 4.885 4.942 6.65l5.293 5.292-5.293 5.293L6.707 19 12 13.707 17.293 19l1.765-1.764z"/></svg>
      </span>
    </div>
    <div class="header-info">
      <h1>Kontaktinfo</h1>
    </div>
  </header>
  <div class="drawer-body">
    <div class="drawer-section">
      <div class="drawer-avatar avatar-background">
        {% if page.profil_pic %}
        <img src="{{site.baseurl}}/media/profil_pic/{{page.profil_pic}}" alt="{{page.profil_pic}}">
        {% endif %}
      </div>
    </div>
    <div class="drawer-section drawer-content">
      <div class="drawer-section-title">
        <p>Status</p>
      </div>
      <div class="drawer-section-body">
        <p>{{page.status | newline_to_br}}</p>
      </div>
    </div>
    {% if page.members %}
      <div class="drawer-section drawer-content">
        <div class="drawer-section-title">
          <p>Members</p>
        </div>
        <div class="drawer-section-body">
          {% for member in page.members %}
            {% assign participants = site.posts | where: 'slug', member %}
            {% for participant in participants %}
            <div class="chat" id="group-member-{{participant.slug}}">
              <div class="chat-icon">
                {% if participant.profil_pic %}
                <img src="{{site.baseurl}}/media/profil_pic/{{participant.profil_pic}}" alt="{{participant.profil_pic}}">
                {% endif %}
              </div>
              <div class="content">
                <div class="first-line">
                  <h1>{{participant.name}}</h1>
                </div>
                  <p>{{participant.status}}</p>
              </div>
            </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% assign content = page.content | strip_newlines %}
    {% if content != "" %}
      <div class="drawer-section drawer-content">
        <div class="drawer-section-title">
          <p>About</p>
        </div>
        <div class="drawer-section-body drawer-text">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
    <div class="drawer-section drawer-content">
      <div class="drawer-section-title">
        <p>Social Media</p>
      </div>
      <div class="drawer-section-body drawer-social">
        {% if page.facebook %}
        <a href="{{page.facebook}}"><span class="fa fa-facebook-official"></span></a>
        {% endif %}
        {% if page.twitter %}
        <a href="{{page.twitter}}"><span class="fa fa-twitter"></span></a>
        {% endif %}
        {% if page.instagram %}
        <a href="{{page.instagram}}"><span class="fa fa-instagram"></span></a>
        {% endif %}
      </div>
    </div>
  </div>
</section>